emacs.d/*

!emacs.d/init.el

!emacs.d/gozes/

emacs.d/gozes/**/*.elc

elpa/*

*.dat

auto-save-list/*

~*

.org-id*



gozes/creds.el
*ercrc*

url/*

session.*
/.python-environments/default/bin/activate
/*.csh
*.pyc
/*.fish
*.py
/ido.last
/backups/!home!gozes!Documents!.emacs.d!elpa!alchemist-20160124.2307!alchemist-autoloads.el~
/config.el
/backups/!home!gozes!Documents!.emacs.d!elpa!async-20160108.1249!async-autoloads.el~
backups/*
/anaconda-mode/0.1.2/anaconda_mode-0.1.2.dist-info/DESCRIPTION.rst
/anaconda-mode/0.1.2/anaconda_mode-0.1.2.dist-info/INSTALLER
eshell/*
recentf
